# Required for building from source.
# Get a Freesound API key at https://freesound.org/apiv2/apply
PUBLIC_FREESOUND_API_KEY=
# Get a YouTube Data API v3 key at https://console.cloud.google.com
PUBLIC_YOUTUBE_API_KEY=
